@page
@model Index
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="input-group mb-3">
        <label class="input-group-text" for="searchBy">Search By</label>
        <select class="form-select" id="searchBy" asp-for="SearchParams.SearchBy">
            <option value="" selected>Choose...</option>
            <option value="Name">Name</option>
            <option value="Powers">Powers</option>
            <option value="HomePlane">Home Plane</option>
            <option value="Colors">Colors</option>
        </select>
        <input type="text" id="keyword" class="form-control" asp-for="SearchParams.Keyword">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()"><i class="bi bi-search"></i></button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name                 
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=name&sortAsc=false" type="button" class="btn btn-secondary"><i class="bi bi-arrow-bar-down"></i></a>
                    <a href="~/index?sortBy=name&sortAsc=true" type="button" class="btn btn-secondary"><i class="bi bi-arrow-bar-up"></i></a>
                </div>
            </th>
            <th scope="col">Powers
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=powers&sortAsc=false" type="button" class="btn btn-secondary"><i class="bi bi-arrow-bar-down"></i></a>
                    <a href="~/index?sortBy=powers&sortAsc=true" type="button" class="btn btn-secondary"><i class="bi bi-arrow-bar-up"></i></a>
                </div>
            </th>
            <th scope="col">Home Plane
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=homeplane&sortAsc=false" type="button" class="btn btn-secondary"><i class="bi bi-arrow-bar-down"></i></a>
                    <a href="~/index?sortBy=homeplane&sortAsc=true" type="button" class="btn btn-secondary"><i class="bi bi-arrow-bar-up"></i></a>
                </div>
            </th>
            <th scope="col">
                Colors                
                <div class="btn-group" role="group" aria-label="">
                    <a href="~/index?sortBy=colors&sortAsc=false" type="button" class="btn btn-secondary"><i class="bi bi-arrow-bar-down"></i></a>
                    <a href="~/index?sortBy=colors&sortAsc=true" type="button" class="btn btn-secondary"><i class="bi bi-arrow-bar-up"></i></a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var character in Model.Characters)
        {
        <tr>
            <td>@character.Name</td>
            <td>@character.Powers</td>
            <td>@character.HomePlane</td>
            <td>@character.Colors</td>
        </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
        function search() {
            window.location = "../index?sortBy=homeplane&sortAsc=false&searchBy=" + $("#searchBy").val() + "&keyword=" +  $("#keyword").val()
        }
    </script>
} 